/* login.css */

#container {
    display: flex;
    width: 100vw;
    height: 100vh;
  }
  
  #presentationbox {
    font-family: Lora;
    display: flex;
    align-content: space-between;
    position: relative;
    width: 50%;

  }
  
  #loginimage {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(0.5);

  }
  #logo{
    width: 25%;
    height: 10%;
    position: absolute;
    top: 7%;
    left: 14%;
  }
  #welcommessage{
    position: absolute;
    top: 19%;
    left: 14%;
    font-size: 8vw;
    font-size: 8vh;
    font-weight: 500;
    white-space: nowrap;
    color: #F2F0E6;
  }
  #presentationmessage{
    position: absolute;
    top: 45%;
    left: 14%;
    font-size: 2vw;
    font-size: 2vh;
    font-weight: 100;
    color: #F2F0E6;
  }
  #accountmessage{
    position: absolute;
    font-size: 0.9vh;
    font-size: 0.9vw;
    font-weight: 1;
    top: 78%;
    left: 14%;
    white-space: nowrap;
    color: #F2F0E6;
  }
  .redirectbutton{
    position: absolute;
    font-weight: 400;
    width: 6vw;
    height: 4vh;
    top: 78%;
    left: 70%;
    white-space: nowrap;
    overflow: hidden; 
    background-color: rgba(219, 176, 113,0);
    color: #DBB071;
    border-top:2px solid #DBB071;
    border-bottom: 2px solid #DBB071;
    border-left: 0.2px solid #DBB071;
    border-right: 0.2px solid #DBB071;
    text-overflow: ellipsis
  }
  
  #logininfobox {

    background-color: #F2F0E6;
    width: 60%;
  }
  #textimage{
    top:5%;
    left: 59%;
    position: absolute;
    width: 35%;
    height: 20%;

  }
  #infocontainer{
    position: absolute;
    width: 27%;
    height: 60%;
    background-color: rgba(2, 2, 2,0);
    border: 2px solid #333;
    top: 18%;
    left: 57%;
    
  }
  #usernamelabel{
    font-family: Sourcesans;
    font-weight: 600;
    position: absolute;
    width: 15%;
    height: 15%;
    top: 50%;
    left: 7%;
    white-space: nowrap;
  }
  .usernameinput{
    position: absolute;
    width: 80%;
    height: 3%;
    top: 27%;
    left: 7%;
    border: none; 
    border-bottom: 1px solid #393731B2;
    background-color: transparent; 
    padding: 5px;
    outline: none;
  }
  #passwordlabel{
    font-family: Sourcesans;
    font-weight: 600;
    position: absolute;
    width: 12%;
    height: 15%;
    top: 49%;
    left: 7%;
    white-space: nowrap;
  }
  .passwordinput{
    position: absolute;
    width: 80%;
    height: 3%;
    top: 56%;
    left: 7%;
    border: none; 
    border-bottom: 1px solid #393731B2;
    background-color: transparent; 
    padding: 5px;
    outline: none;
  }
  .submitbutton{
    font-family: Lora;
    position: absolute;
    top: 80%;
    left: 7%;
    width: 84%;
    height: 8%;
    background-color: #B08B56;
    border: #B08B56;
    color: white;
  }
  #checkboxlabel{
    position: absolute;
    font-family: Sourcesans;
    color: #393731;
    font-weight: 600;
    top: 63%;
    left: 7%;
    width: 50%;
    height: 3%;
    white-space: nowrap;

  }
  .checkbox{
    background-color: #B08B56;
    color:#B08B56;
  }
  
  