.acceuil2 {
    position: relative;
    height: 80vh;
    width: 100vw;
    background-image: url('../images/Acceuil2.png');
    background-size: auto;
    background-position: center;
    background-repeat: no-repeat; 
    color: white;
    display: flex;
}

.titre{
    position: absolute;
    top:5%;
    left:8%;
    font-family: 'Lora';
    font-size: 3.4vw;
    font-weight: bold;


}

.desc{
    position: absolute;
    top:40%;
    left:8%;
    font-family: 'Source Sans Pro';
    font-size: 1.5vw;
}

.quoteicone{
    position: absolute;
    width:9%;
    top: 3%;
    left:5%
}