/* first section */

.body1{
    width: 100vw;
    height: 90vh; 
    background-image: url("../images/acceuil20.png");
    background-size: cover ;
    background-repeat: no-repeat; 
    margin: 0;
  }
  
  
  
  .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  
  .button1{
    margin-left: 73vw;
    margin-right: 4.5vw;
    border: 0;
    background: none;
    cursor: pointer;
    font-weight: bold;
    font-family: 'Source Sans Pro';
    width: 3%;
  }
  
  .button2{
    border: 0;
    background: none;
    cursor: pointer;
    font-weight: bold;
    font-family: 'Source Sans Pro';
    width: 3%;
  }
  
  .logo{
    width: 12%;
  }
  
  .titre_description_boutton{
    transform: translate(-50%, -50%);
    position: relative;
    margin-top: 35vh;
    margin-left: 50vw;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #F2F0E6;
  }

  .titre{
    font-size: 6vw;
    white-space: nowrap;
    font-family: 'Imperial Roman';
  }

  .descrip{
    font-family: 'Source Sans Pro';
    font-size: 1.5vw;
  }
  .titre_description_boutton > * {
   margin-bottom:  1%;
  }
  
  .Registernow{
    margin-top: 4%;
    padding: 1.5% 5%;
    border-color: #DBB071;
    background: transparent;
    text-align: center;
    color: #DBB071;
    font-size: 2vw;
    font-weight: bold;
    font-family: 'Imperial Roman';
  
  }
  
/* second section */
.body2{
    width: 100vw;
    height: 70vh; 
    background-image: url("../images/Acceuil2.png");
    background-size: cover ;
    background-repeat: no-repeat; 
    margin: 0;
}

.quote{
    position: relative;
    display:flex;
    top:5%;
    left: 5%;
    height: 20%;
}

.titre_description{
    display: flex;
    flex-direction: column;
    color: #F2F0E6;
    margin-left: 8%;
    white-space: 'wrap';
}

.titre2{
    font-family: 'Lora';
    font-weight: bold;
    font-size: 3.5vw;
    margin-top: -0.5%;
}

.desc{
    font-family: 'Source Sans Pro';
    font-size: 1.5vw;

}


/* third section */ 
.body3{
    width: 100vw;
    height: auto; 
    background-color: #F2F0E6;
    background-size: cover;
    margin: 0;
}

.Readfull{
    margin-top: 2.5%;
    margin-left: 35%;
    width: 50%;
}



  
.boxContainer {
    display: flex;
    flex-wrap: wrap;
    margin-left: 4%;
  }
  


.Author{
    font-weight: bolder;
    color: #393731;
    font-family: 'Source Sans Pro';
    font-size: 3vw;
}

.boxtitre{
    font-family: 'Lora';
    font-weight: 900;
    font-size: 3vw;
    color: #100F0E;
    background: none;
    border: none;
    cursor: pointer;
}
  
.descr{
    font-family: 'Source Sans Pro';
    color: #393731;
    font-size: 2vw;
}

.box {
    margin: 1%;
    width: calc(400px - 2%);
    position: relative;
}

.favori{
  cursor: pointer;
  background-color: transparent;
  border: none;
  position: absolute;
  right: 2%;
  top: 85%;
  font-size: 2.5vw;
  color: #DBB071;
}

.boxInner {
    border: 3px solid #393731; 
    padding: 2%;
    box-sizing: border-box; 
}

.Author, .descr {
    margin-top: 3%;
}

.Readmore{
  margin-top: 7vh;
  margin-bottom: 4vh;
  cursor: pointer;
  background-color: #B08B56;
  color: #FFFFFF;
  font-family: 'Lora';
  font-weight: 400;
  border: none;
  white-space: nowrap;
  width: 12vw;
  height: 5.5vh;
}


.box2{
  display: none;
}


/* last section */
.basdepage {
    position: relative;
    height: 30vh;
    width: 100vw;
    background-image: url('../images/bas.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
  }

.extreme .copyrights{
    display: flex;
    position:absolute;
    left: 85%;
    top:65%;
    color: grey;
    white-space: 'nowrap';
}

.extreme .follow{
    position: absolute;
    left:87.25%;
    top:5%;
    color: white;
    font-family: 'Source Sans Pro';
    font-weight: 500;
    

}

.resButton{
    padding : 0 ;
    border : none ;
    background: none;
    cursor : pointer ;
}

.fbicone{
    position: absolute;
    width:5vh;
    left: 85%;
    top: 32%
}

.instaicone{
    position: absolute;
    width: 5vh;
    left:92.5%;
    top:32%
}

.adresse{
    position: absolute;
    color: gray;
    left:3%;
    top:28%;
    font-family: 'Source Sans Pro';
}


.plus{
    
    padding : 0 ;
    border : none ;
    background: none;
    cursor : pointer ;
}


.textaboutus{
    position: absolute;
    color:#F2F0E6;
    font-family: 'Source Sans Pro';
    font-weight: 900;
    left:50%;
    top : 5%;
}

.textpolicy{
    position: absolute;
    color: #F2F0E6;
    font-family: 'Source Sans Pro';
    font-weight: 900;
    left:50%;
    top : 15%;
}

.textcontact{
    position: absolute;
    color: #F2F0E6;
    font-family: 'Source Sans Pro';
    font-weight: 900;
    left:50%;
    top : 25%;
}

.textfaq{
    position: absolute;
    color: #F2F0E6;
    font-family: 'Source Sans Pro';
    font-weight: 900;
    left:50%;
    top : 35%;
}

@media screen and (max-width:560px){
  /* first section */ 
  .body1{
    height: 100vh;
    width: 100vw;
    background-image: url("../images/Background1.png");
    background-size: cover;

  }
  .logo{
    width: 20vw;
  }
  .button1{
    margin-left: 55vw;
    margin-right: 0;
  }
  .button2{
    display: none;
  }

  .titre_description_boutton{
    position: relative;
    margin-top: 40vh;
  }
  .titre{
    font-size: 15vw;
    font-weight: 200;
  }

  .descrip{
    font-size: 4vw;
  }


  .titre_description_boutton > * {
   margin-bottom:  2vh;
  }
  
  .Registernow{
    margin-top: 4%;
    padding: 5% 10vw;
    font-size: 6vw;
    white-space: nowrap;
  }

  /* second section */ 
.body2{
    height: 50vh;
    width: 100vw;
    background-image: url("../images/Acceuil2media.png");
  }
.titre_description{
  margin-left: 8%;
}

.titre2{
    font-size: 7vw;
    margin-top: -0.5%;
}

.desc{
    font-size: 3vw;
    text-align: left;
    white-space: normal;
    flex-wrap: wrap;
    justify-content: left;
}

/* third section */

.body3{
  height:auto
}

.boxContainer{
  margin-left: 15%;
}


.Readfull{
  margin-left: 30%;
  width: 60%;
}

.Author{
  font-size: 2.5vw;
}

.boxtitre{
  font-size: 5vw;
}

.descr{
  font-size: 3.5vw;
}

.box {
display: none;
}


.Author, .descr {
  margin-top: 10%;
}

.box2{
  display: flex;
  margin: 1%;
  width: calc(400px - 2%);
  margin-bottom: 5%;
}

/* last section */
.basdepage {
  height: 80vh;
  background-image: url('../images/bas2.png');
  display: flex;
}

.extreme .copyrights{
  left: 30%;
  top: 92%;
  white-space: nowrap;
}

.icone{
  position: absolute;
  left: 25%;
}

.extreme .follow{
  left:40%;
  top:60%;
  width: 30vw;
}

.fbicone{
  position: absolute;
  left: 35%;
  top: 68%
}

.instaicone{
  position: absolute;
  left:50%;
  top:68%
}

.adresse{
  left:30%;
  top:15%;

}

.textaboutus{
 left:40%;
  top : 30%;
}

.textpolicy{
  left:40%;
  top : 35%;
}

.textcontact{
  left:40%;
  top : 40%;
}

.textfaq{
  left:40%;
  top : 45%;
}



}


