.scholarhub {
    position: relative;
    height: 95vh;
    width: 100vw;
    background-image: url('../images/Acceuil1.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
    color: white;
    align-items: center;
    justify-content: center;
    text-align: center;
    display: flex;
  }

 .buttons .signup{
  position: absolute;
  top: 5.5%;
  right: 2%;
  text-align: right;
  font-size: 1.2vw;
  font-family: "Source Sans Pro";
  background: none;
  border: none;
  color:#DBB071;
  cursor: pointer;
  font-weight:300 ;
 }

 .buttons .login{
  position: absolute;
  top: 5.5%;
  right: 8%;
  text-align: right;
  font-size: 1.2vw;
  font-family: "Source Sans Pro";
  background: none;
  border: none;
  color: white;
  cursor: pointer;

 }
  

.texte{
  position: absolute;
  top: 2.5%;
  left:4.2%;
  color: white;
  text-align: left;
  font-size: 1.5vw;
  font-family: "Imperial Roman";
}

.icone{
  position: absolute;
  top: 2%;
  left: 2.1%;
  width: 50px;
}

.title {
    position: absolute;
    color: white;
    font-size: 7vw; 
    font-family: "Imperial Roman";
    left: 50%;
    top: 35%; 
    transform: translate(-50%, -50%);
  }

  .description p{
    margin-top: 20vh;
    font-size: 1.4vw;
    font-family: "Source Sans Pro";
    margin-bottom: -2%;
  }


  .description .boutton {
    margin-top: 10vh;
    font-size: 1.5vw;
    color : #DBB071;
    border: 0.18vw solid #DBB071;
    background-color: transparent;
    cursor: pointer;
    text-align: center;
    padding: 0.75vw 3vw
  }
  
  